Repository tnevrlka-test/build-tasks-dockerfiles: changes, and which Tekton pipelines are due for each by the changed paths.
All: icm-injection-scripts-on-push, sbom-utility-scripts-on-pull-request, sbom-utility-scripts-on-push, source-container-build-on-pull-request, source-container-build-on-push

Path conditions:
  icm-injection-scripts-on-push: ((any of: icm-injection-scripts/***) or (any of: .tekton/icm-injection-scripts-pull-request.yaml)) or (any of: .tekton/build-pipeline.yaml)
  sbom-utility-scripts-on-pull-request: ((any of: sbom-utility-scripts/***) or (any of: .tekton/sbom-utility-scripts-pull-request.yaml)) or (any of: .tekton/build-pipeline.yaml)
  sbom-utility-scripts-on-push: ((any of: sbom-utility-scripts/***) or (any of: .tekton/sbom-utility-scripts-push.yaml)) or (any of: .tekton/build-pipeline.yaml)
  source-container-build-on-pull-request: (((any of: source-container-build/***) or (any of: .tekton/source-container-build-pull-request.yaml)) or (any of: .tekton/build-pipeline.yaml)) or (any of: integration-tests/***)
  source-container-build-on-push: ((any of: source-container-build/***) or (any of: .tekton/source-container-build-push.yaml)) or (any of: .tekton/build-pipeline.yaml)

Delete .tekton directory
  .tekton/build-pipeline.yaml
  .tekton/sbom-utility-scripts-pull-request.yaml
  .tekton/sbom-utility-scripts-push.yaml
  .tekton/source-container-build-pull-request.yaml
  .tekton/source-container-build-push.yaml
Due: icm-injection-scripts-on-push, sbom-utility-scripts-on-pull-request, sbom-utility-scripts-on-push, source-container-build-on-pull-request, source-container-build-on-push

Konflux Staging update sbom-utility-scripts Signed-off-by: konflux-staging <konflux@no-reply.konflux-ci.dev>
  .tekton/sbom-utility-scripts-pull-request.yaml
  .tekton/sbom-utility-scripts-push.yaml
Due: sbom-utility-scripts-on-pull-request, sbom-utility-scripts-on-push

Update sbom-utility-scripts-pull-request.yaml
  .tekton/sbom-utility-scripts-pull-request.yaml
Due: sbom-utility-scripts-on-pull-request

Update Dockerfile
  sbom-utility-scripts/Dockerfile
Due: sbom-utility-scripts-on-pull-request, sbom-utility-scripts-on-push

add requirements.in
  .tekton/sbom-utility-scripts-pull-request.yaml
  sbom-utility-scripts/requirements.in
  sbom-utility-scripts/requirements.txt
  sbom-utility-scripts/scripts/add-image-reference-script/requirements.in
  sbom-utility-scripts/scripts/add-image-reference-script/requirements.txt
  sbom-utility-scripts/scripts/base-images-sbom-script/app/requirements.in
  sbom-utility-scripts/scripts/base-images-sbom-script/app/requirements.txt
  sbom-utility-scripts/scripts/index-image-sbom-script/requirements.txt
  sbom-utility-scripts/scripts/merge-sboms-script/requirements.txt
  sbom-utility-scripts/scripts/sbom-for-modelcar-task/requirements.txt
  sbom-utility-scripts/scripts/sbom-for-oci-copy-task/requirements.txt
Due: sbom-utility-scripts-on-pull-request, sbom-utility-scripts-on-push

Generate hashes for add-image-reference pip deps
  sbom-utility-scripts/scripts/add-image-reference-script/requirements.in
  sbom-utility-scripts/scripts/add-image-reference-script/requirements.txt
Due: sbom-utility-scripts-on-pull-request, sbom-utility-scripts-on-push

Generate build requirements for sbom-utility-scripts
  sbom-utility-scripts/requirements-build.in
  sbom-utility-scripts/requirements-build.txt
Due: sbom-utility-scripts-on-pull-request, sbom-utility-scripts-on-push

Generate hashes for sbom-for-modelcar pip deps
  sbom-utility-scripts/scripts/sbom-for-modelcar-task/requirements.txt
Due: sbom-utility-scripts-on-pull-request, sbom-utility-scripts-on-push

Enable hermetic builds for sbom-utility-scripts
  .tekton/sbom-utility-scripts-pull-request.yaml
  .tekton/sbom-utility-scripts-push.yaml
Due: sbom-utility-scripts-on-pull-request, sbom-utility-scripts-on-push

Konflux Staging purge sbom-utility-scripts
  .tekton/sbom-utility-scripts-pull-request.yaml
  .tekton/sbom-utility-scripts-push.yaml
Due: sbom-utility-scripts-on-pull-request, sbom-utility-scripts-on-push
